.timer {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
  text-align: center;
  min-height: 80dvh;
}

.ant-modal-content {
  backdrop-filter: blur(5px);
  background-color: rgba(38, 38, 46, 0.123) !important;
}
