.timer {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
  text-align: center;
  min-height: 80dvh;
}

.ant-modal-content {
  backdrop-filter: blur(15px);
  background-color: rgba(31, 31, 44, 0.158) !important;
}

.watch-skin-modal .slick-list {
  height: 400px !important;
  display: flex !important;
  align-items: center;
}
.watch-skin-modal .slick-track {
  height: 400px !important;
  display: flex !important;
  align-items: center;
}
.watch-skin-modal .slick-slide {
  height: 400px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
